*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter',sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

:root{
    --text-color : #fff;
    --bg-color : #1b1f24;
    --second-bg-color : #22282f;
    --main-color : #13bbff;
    --other-color : #c3cad5;

    --h1-font : 4.5rem;
    --h2-font : 2.9rem;
    --p-font : 1rem;
}
body{
    color: var(--text-color);
    background: var(--bg-color);  
    user-select: none;
}
/* ------------------- header ------------------- */
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10%;
    background: transparent;
    transition: all .50s ease;
}
.logo{
    font-size: 36px;
    font-weight: 600;
    color: var(--text-color);
}
span{
    color: var(--main-color);
}
.navlist{
    display: flex;
}
.navlist a{
    font-size: var(--p-font);
    font-weight: 400;
    color: var(--other-color);
    margin-left: 40px;
    transition: all .50s ease;
}
.navlist a:hover {
    color: var(--main-color);
    text-shadow: 3px 3px 20px var(--main-color), -2px 1px 30px var(--text-color);
}
#menu-icon{
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}
.h-btn{
    display: inline-block;
    padding: 11px 26px;
    background: transparent;
    color: var(--main-color);
    border: 3px solid var(--main-color);
    border-radius: 8px;
    font-size: 15px;
    font-weight: 600;
    transition: all .50s ease;
}
.h-btn:hover {
    background: var(--main-color);
    color: var(--bg-color);
    box-shadow: 0 0 20px var(--main-color);
    transform: scale(1.1);   
}

/* ------------------- hero ------------------- */
section{
    padding: 110px 10% 90px;
}
.hero{
    height: 100vh;
    width: 100%;
    background:url(../img/githubProfile.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top right;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.main-content h4 {
    font-size: 1.6rem;
}
.main-content h1 {
    font-size: var(--h1-font);
    font-weight: 900;
    margin: 20px 0px 20px;
    line-height: 1.2;
}
.main-content p {
    font-size: var(--p-font);
    font-weight: 400;
    width: 620px;
    max-width: 100%;
    color: var(--other-color);
    line-height: 30px;
    margin-bottom: 15px;
}
.social {
    margin-bottom:40px ;
}
.social i {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    color: var(--main-color);
    border-radius: 50px;
    backdrop-filter: bringhtness(88%);
    font-size: 20px;
    margin-right: 17px;
    box-shadow: 0 0 20px transparent;
    cursor: pointer;
    transition: all .50s ease;
}
.social i:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px var(--main-color);
}
.btn{
    display: inline-block;
    padding: 11px 26px;
    background: var(--main-color);
    color: var(--bg-color);
    border: 2px solid var(--main-color);
    border-radius: 8px;
    font-size: 15px;
    font-weight: 600;
    transition: all .50s ease;
}
.btn:hover {
    background: transparent;
    color: var(--main-color);
    box-shadow: 0 0 20px var(--main-color);
}
.btn2 {
    background: transparent;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    margin-left: 15px;
    transition: all .50s ease;
}
.btn2:hover {
    background: var(--main-color);
    color: var(--bg-color);
}
header.sticky {
    background: var(--bg-color);
    box-shadow: 0 .1rem 1rem rgba( 0, 0, 0, .2);
    padding: 16px 16%;
}
/* ------------------- about ------------------- */
.about {
    background: var(--second-bg-color);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1rem;
    padding-bottom: 100px;
}
.about-img img{
    width: 100%;
    height: 530px;
    max-width: 530px;
    border-top-left-radius: 30%;
    border-bottom-right-radius: 30%;
    object-fit: cover;
    border:7px solid var(--main-color);
    box-shadow: 0 0 20px var(--main-color);
}
.about-text h2 {
    font-size: var(--h2-font);
    line-height: 1.3;
    margin-bottom: 20px;
}
.exp-area {
    margin-bottom: 50px;
}
.exp-area p {
    font-size:19px;
    line-height: 42px;
    font-weight: 600;
    color: var(--text-color);
}
.exp-area p span{
    font-size:var(--p-font);
    font-weight: 400;
    color: var(--other-color);
    margin-left: 8px;
}
/* ------------------- services ------------------- */

.i{
    width: 100%;
    max-width: 60px;
    height: 60px;
    padding: 12px;
    font-size:35px;
    background-color: var(--main-color);
    color: white;
    border-radius: 50%;
    margin-bottom: 40px;
}
.i2{
    padding: 8px;
    font-size:20px;
    background-color: var(--main-color);
    color: white;
    border-radius: 50%;
    margin-bottom: 40px;
}
.center-text {
    text-align: center;
}
.center-text h2{
    font-size: var(--h2-font);
}
.serveces-content {
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(300px, auto));
    align-items: center;
    gap: 2.3rem;
    margin-top: 4.2rem;
}
.box {
    padding: 60px 40px 60px;
    background: #2d343F;
    border-radius: 20px;
    border: 1px solid transparent;
    box-shadow: 0 0 6px var(--main-color);
    cursor: pointer;
    transition: all .50s ease;
}
.box:hover {
    border:1px solid var(--main-color);
    transform: translateY(-2px) scale(1.02);
}
.box h3 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 40px;
}
.box p {
    font-size: var(--p-font);
    font-weight: 400;
    margin-bottom: 20px;
    color: var(--other-color);
    line-height: 30px;
}
.box a {
    display: inline-block; 
    font-size: 22px;
    line-height: 1.273em;
    font-weight: 700;   
    padding: 7px 0;
    color: var(--text-color);
    border-bottom: 2px solid #5d6c83;
    transition: all .50s ease;
}
.box a:hover {
    border-bottom: 2px solid var(--main-color);
}
.box a i {
    vertical-align:middle;
    color: var(--main-color);
    font-size: 20px;
    margin-left: 6px;
}
/* ------------------- portfolio ------------------- */

.portfolio {
    background-color: var(--second-bg-color);
}
.portfolio-content {
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(350px, auto));
    align-items: center;
    gap: 2.3rem;
    margin-top: 4.2rem;
}
.row img {
    border-top-left-radius: 12%;
    border-bottom-right-radius: 12%;
    margin-bottom: 1.4rem;
    height: 300px;
    width: 100%;
}
.row{
    background-color: #2d343f;
    border-top-left-radius: 12%;
    border-bottom-right-radius: 12%;
    padding: 20px;
    border: 1px solid transparent;
    box-shadow: 0 0 5px var(--main-color);
}

/* ------------------- media ------------------- */

@media (max-width: 1200px) {
    header{ 
       padding: 20px 2%;
    }
    header.sticky {
        padding: 14px 3%;
    }
    section {
        padding: 90px 8% 80px;
    }
}
@media (max-width: 1330px){
    header{ 
        padding: 20px 9%;
    }
    header.sticky{
        padding: 14px 6%;
    }
    section {
        padding: 250px 8% 80px;
    }
    .hero{
        height: 62vh;
        background-position: top right;

    }
}
@media (max-width: 1290px){
    header{ 
        padding: 10px 9%;
    }
    header.sticky {
        padding: 14px 6%;
    }
    .logo{
        font-size: 25px;
        font-weight: 600;
    }
    section {
        padding: 110px 9% 70px;
    }
    .hero{
        height: 50vh;
        background-position: top right;
    }
    .h-btn{
        padding: 8px 11px;
        border-radius: 8px;
        font-size: 12px;
        font-weight: 700;
    }
    .box{ 
        padding: 60px 40px 60px;
    }
}
